@model ECommerceApi.Models.ProductDataModel

@{
    ViewData["Title"] = "View Product";
}

<div>
        <div class="row">
            <div class="col-md-2">
                <label>Name </label>
            </div>
            <div class="col-md-6"> @Html.DisplayFor(x => x.Name)</div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label>Description </label>
            </div>
            <div class="col-md-6"> @Html.DisplayFor(x => x.Description)</div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label>Barcode </label>
            </div>
            <div class="col-md-6"> @Html.DisplayFor(x => x.Barcode)</div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label>Price </label>
            </div>
            <div class="col-md-6"> @Html.DisplayFor(x => x.Price)</div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label>Stock </label>
            </div>
            <div class="col-md-6"> @Html.DisplayFor(x => x.Stock)</div>
        </div>
</div>
