@model ECommerceApi.Models.ProductDataModel

@{
    ViewData["Title"] = "Update Product";
}

    <div>
        <form action="/Product/UpdateProduct" method="post">
            @Html.HiddenFor(x => x.Id)
            <div class="row">
                <div class="col-md-2">
                    <label>Name </label>
                </div>
                <div class="col-md-6"> @Html.TextBoxFor(x => x.Name)</div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label>Description </label>
                </div>
                <div class="col-md-6"> @Html.TextBoxFor(x => x.Description)</div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label>Barcode </label>
                </div>
                <div class="col-md-6"> @Html.TextBoxFor(x => x.Barcode)</div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label>Price </label>
                </div>
                <div class="col-md-6"> @Html.TextBoxFor(x => x.Price)</div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label>Stock </label>
                </div>
                <div class="col-md-6"> @Html.TextBoxFor(x => x.Stock)</div>
            </div>

            <div>
                <input type="submit" value="Güncelle" />
            </div>

        </form>
    </div>
